{% extends "base.html" %}

{% block title %}EDRefCard: public configurations{% endblock %}

{% block body %}
<div id="list">
    <h1>EDRefCard: public configurations</h1>
</div>
<div>
    <form action="" id="searchForm">
        <table>
            <tr>
                <td><label for="deviceFilter">Select Controller(s)</label></td>
                <td>
                    <select name="deviceFilter" id="deviceFilter" multiple size=10>
                    {% for device in devices | sort %}
                        <option value="{{ device }}"
                                {% if device in request.args.getlist('deviceFilter') %}selected{% endif %}
                        >
                            {{ device }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan=2><input type="submit" value="Search"></td>
            </tr>
        </table>
    </form>
</div>
<table>
    <tr>
        <th align="left" class="description">Description</th>
        <th align="left" class="controllers">Controllers</th>
        <th align="left" class="date">Date</th>
    </tr>

{% for bind in binds %}
    {% if bind.description %}
    <tr>
        <td class="description">
            <a href="/configs/{{ bind.runID }}.binds">{{ bind.description }}</a>
        </td>
        <td class="controllers">{{ bind.devices | bind_controllers | sort | join(', ') }}</td>
        <td class="date">{{ bind.timestamp.ctime() }}</td>
    </tr>
    {% endif %}
{% endfor %}
</table>
{% endblock %}